a.e2pdf-download-progress,
a.e2pdf-download-progress:focus,
a.e2pdf-download-progress:link,
a.e2pdf-download-progress:visited,
a.e2pdf-download-progress:hover
{
    color: #808080;
    text-decoration: none;
    pointer-events: none;
    background: repeating-linear-gradient(
        45deg,
        rgba(128, 128, 128, 0.7) 0%,
        rgba(128, 128, 128, 0.7) 10px,
        rgba(255, 255, 255, 0.7) 10px,
        rgba(255, 255, 255, 0.7) 20px
        );
    background-size: 200% 200%;
    animation: e2pdf-download-animation 1.5s linear infinite;
}
@keyframes e2pdf-download-animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}
